#LogoIFPR {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888888;
    padding: 20px;
}

#div1 {
    float: left;
    width: 48.9%;
    height: 900px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888888;
    padding: 10px;
}

#div2 {
    float: right;
    width: 48.6%;
    height: 900px; 
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888888;
    padding: 10px;
}

#titulo {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888888;
    padding: 10px;
}
#btn {
    float: right;
    width: 100px;
    height: 50px;
    background-color: green;
    margin-top: -59px;
    margin-left: 90px;
}