body {
    font-family:Arial, Helvetica, sans-serif;
}

#player {
    position: relative;
    width: 55%;
    top: 5%;
    left: 1%;
}

#canvas {
    width: 100%;
    height: auto;
}

#barra {
    width: 100%;
    height: 8px;

    margin-top: 15px;

    background-color: rgb(167, 167, 167);
}

#posicao-cursor {
    position: relative;
    visibility: visible;
    top: -14px;

    width: 5px;
    height: 20px;

    background-color: rgb(65, 65, 65);
}

#play {
    position: relative;
    left: calc(50% - 35px);
    top: 20px;

    width: 70px;
    height: 30px;

    font-size: 110%;
}

#velocidade {
    position: relative;
    left: calc(50% - 35px);
    top: 20px;

    width: 50px;
    height: 30px;

    font-size: 110%;
}

#frames {
    position: relative;
    top: 30px;
}




#painel {
    position: absolute;
    width: 35%;
    height: auto;

    right: 2%;
    top: 5%;

    padding-bottom: 10px;

    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888888;
}

#titulo-video {
    padding-left: 3%;
}

#frame {
    padding-left: 3%;
    font-size: 160%;
}

#frame-original {
    padding-left: 3%;
    font-size: 160%;
}

#criar-marcacao {
    font-size: 150%;

    margin-bottom: 30px;
    margin-left: 3%;

    color: #ffffff;
    border-radius: 5px;
    background-color: #2e7d32;
    border: 0;
    padding: 8px;

    cursor: pointer;
}

#deletar-marcacao {
    font-size: 150%;

    margin-bottom: 30px;
    margin-left: 3%;

    color: #ffffff;
    border-radius: 5px;
    background-color: #c62828;
    border: 0;
    padding: 8px;

    cursor: pointer;
}

#editar-marcacao {
    font-size: 150%;

    margin-bottom: 30px;
    margin-left: 3%;

    color: #ffffff;
    border-radius: 5px;
    background-color: #2e7d32;
    border: 0;
    padding: 8px;

    cursor: pointer;
}

#confirmar-edicao {
    font-size: 150%;

    margin-bottom: 30px;
    margin-left: 3%;

    color: #ffffff;
    border-radius: 5px;
    background-color: #3ea543;
    border: 0;
    padding: 8px;

    cursor: pointer;
}

#sem-interprete {
    font-size: 150%;

    margin-bottom: 30px;
    margin-left: 3%;

    color: #ffffff;
    border-radius: 5px;
    background-color: #e68d29;
    border: 0;
    padding: 8px;

    cursor: pointer;
}